@import '~Sass/_helpers.scss';

.input {
    border: 1px solid $silver;
    box-sizing: border-box;
    color: $tundora;
    font-size: 16px;
    line-height: 30px;
    outline: none;
    padding: 9px 15px;
    width: 100%;

    &:hover,
    &:focus {
        border: 1px solid $tundora;
    }
    &.error {
        border-color: $red-orange;
    }

    @include media(desktop) {
        line-height: 20px;
    }
}
.label {
    color: $tundora;
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 4px;
}
.wrapper {
    margin-bottom: 15px;
}